<div class="container mt-3">
    <h4>Featured</h4>
    <div class="row">
        <div class="feature_container" *ngFor="let data of feature_data.feature">
            <span (click)="openWatchComponent()"><img src="../../../../assets/media/Thumbnails/{{data.source}}" alt=""
                    height="200px" width="150px"></span>
        </div>
    </div>
</div>
<div class="container mt-2">
    <h4>New Release</h4>
    <div class="row">
        <div class="feature_container" *ngFor="let data of feature_data.newRelease">
            <span (click)="openWatchComponent()"><img src="../../../../assets/media/Thumbnails/{{data.source}}" alt=""
                    height="200px" width="150px"></span>
            <label>{{data.title}}</label>
        </div>
    </div>
</div>